.errGradient {
  text-transform: uppercase;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text {
  font-size: 16vw;
}

.StatusText {
  font-size: 6vw;
}
